/* banner */
.banner {
    height: 500px;
    background-color: #f5f5f5;
}

.banner .wrapper {
    position: relative;
    height: 500px;
    background-color: pink;
}

.banner .aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .aside li {
    height: 50px;
    line-height: 50px;
}

.banner .aside li a {
    position: relative;
    padding-left: 36px;
    padding-right: 20px;
    /* 宽度和父级一样 */
    display: block;
    height: 50px;
    color: #fff;
}

.banner .aside li a span {
    margin-left: 15px;
    font-size: 14px;

}

.banner .aside li a:hover {
    background-color: #27ba9b;
}

/* a的里面最后一个元素添加箭头 */
.banner .aside li a::after {
    position: absolute;
    right: 19px;
    top: 19px;
    content: '';
    width: 6px;
    height: 11px;
    background-image: url(../images/sprites.png);
    background-position: -80px -110px;
}

.prev,
.next {
    position: absolute;
    top: 228px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 2);
    background-image: url(../images/sprites.png);

}

/* 要改变箭头在盒子里面的位置,改变精灵图显示的位置 导致在精灵图测量的尺寸不准确 */
/* 解决方案 */
/* 1 书写背景图位置属性,借助调试工具调试具体的位置数值 
   2 书写便签的时候 a负责盒子 里面在添加一个span负责箭头
*/

.prev {
    left: 260px;
    background-position: 14px -60px;
}

.next {
    right: 10px;
    background-position: -23px -60px
}

.banner ol {
    position: absolute;
    bottom: 31px;
    left: 680px;
    height: 10px;
    width: 200px;
}

.banner ol li {
    float: left;
    margin-right: 24px;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
}

.banner ol .current {
    background-color: #fff;
}

/* ----------------------------新鲜好物 */
.good .hd {
    height: 114px;
    line-height: 114px;
}

.good .hd h2 {
    height: 114px;
    float: left;
    font-size: 29px;
    font-weight: 400;
}

.good .hd h2 span {
    margin-left: 34px;
    font-size: 16px;
    color: #999;
    vertical-align: middle;
}

.good .hd a,
.shengxian .hd .more {
    float: right;
    color: #999;
}

.good .hd a::after,
.shengxian .hd .more::after {
    margin-left: 13px;
    display: inline-block;
    content: '';
    width: 7px;
    height: 13px;
    background-image: url(../images/sprites.png);
    background-position: 0 -110px;
    vertical-align: middle;
}

.good .bd li {
    position: relative;
    float: left;
    margin-right: 8px;
    width: 304px;
    height: 405px;
    text-align: center;
    background-color: #f0f9f4;
}

.good .bd li:last-child {
    margin-right: 0px;
}

/* 设置img的大小 */
.good .bd li img {
    width: 304px;
}

.good .bd li h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    /* text-align: center; */
}

.good .bd li div {
    /* text-align: center; */
    color: #9a2e1f;
    font-size: 17px;
}

.good .bd li div span {
    font-size: 23px;
}

.good .bd li b {
    position: absolute;
    left: 17px;
    top: 18px;
    width: 28px;
    height: 51px;
    border: 1px solid #27ba9b;
    border-radius: 3px;
    color: #27ba9b;
    font-size: 18px;
    font-weight: 400;
    /* 调节新品文字的上下距离 */
    line-height: 24px;
}

/* ---------------------------------生鲜--------------------------- */
.shengxian .hd {
    height: 96px;
    line-height: 96px;
}

.shengxian .hd h2 {
    float: left;
    font-size: 29px;
    font-weight: 400;
}

.shengxian .hd .more {
    float: right;
}

.shengxian .hd ul {
    float: right;
    margin-right: 65px;
}

.shengxian .hd ul li {
    float: left;
}

.shengxian .hd ul li a {
    padding: 2px 7px;
    margin-right: 6px;
}

.shengxian .hd ul li a:hover {
    background-color: #27ba9b;
    color: #fff;
}

.shengxian .bd .left {
    float: left;
    width: 240px;
    height: 610px;
    background-color: pink;
}

.shengxian .bd .right {
    float: right;
    width: 1000px;
    height: 610px;
    background-color: skyblue;
}