* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.clearfix:after {

    content: "";

    display: block;

    height: 0;

    clear: both;

    visibility: hidden;

}



.clearfix {

    /* IE6、7 专有 */

    *zoom: 1;

}

a {
    text-decoration: none;
}

body {
    background-color: #f3f5f7;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 42px;
    /* background-color: #f3f5f7; */
}

.logo {
    float: left;
}

.nav {
    float: left;
    margin-left: 70px;
    width: 294px;
    height: 42px;
}

.nav li {
    float: left;
    margin-right: 26px;
}

.nav li a {
    display: block;
    padding: 0 9px;
    /* height: 42px; */
    line-height: 42px;
    color: #050505;
    font-size: 18px;
    text-align: center;
}

.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    height: 40px;
    width: 412px;
    margin-left: 59px;
    border: 1px solid #00a4ff;
}

.search .ipt {
    float: left;
    padding-left: 15px;
    width: 347px;
    height: 40px;
    border: 0;
}

.search button {
    width: 50px;
    height: 40px;
    border: 0;
    background-color: skyblue;
    background-image: url(../images/btn.png);
}

.user {
    float: right;
    margin-right: 35px;
    height: 42px;
    line-height: 42px;
}

.user img {
    vertical-align: middle;
}

/* ----------------------------------------------------------- */
.banner {
    height: 420px;
    background-image: url(../images/banner2_20190819_210028.png);
    /* background-repeat: no-repeat; */
    background-position: center;
}

.nav_banner {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav_banner ul {
    width: 150px;
    line-height: 45px;
    height: 45px;
    padding: 0 20px;
}

.nav_banner li a {
    font-size: 14px;
    color: #fff;
}

.nav_banner li a:hover {
    color: skyblue;
}

.nav_banner li span {
    float: right;
    color: #fff;
}

.nav_banner li span:hover {
    color: skyblue;
}

.course {
    float: right;
    margin-top: 50px;
    width: 230px;
    height: 300px;
    background-color: #fff;
}

.course h2 {
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: #9bceea;
    font-size: 18px;
    color: #fff;
}

.course ul {
    padding: 0 20px;
}

.course li {
    padding: 15px 0;
    border-bottom: 1px solid #000;
}

.course li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.course li p {
    font-size: 12px;
    color: #a5a5a5;
}

.more {
    display: block;
    margin: 5px 14px 0;
    width: 200px;
    height: 38px;
    line-height: 38px;
    color: #00a4ff;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #00a4ff;
}

.goods {
    margin-top: 8px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 2px 3px 3px rgb(0 0 0 / 10%);
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
    font-weight: 400;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.goods .mody_inter {
    float: right;
    margin-right: 30px;
    display: block;
    font-size: 14px;
    color: #00a4ff;
    font-weight: 700;
}

/* --------------------------------------------------------------------------------------- */
.box {
    margin-top: 30px;
}

.box_header {
    /* 清除浮动 */
    height: 40px;
}

.box_header h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box_header a {
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.box_body ul li {
    position: relative;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px
}

.box_body ul li .hot {
    position: absolute;
    top: 4px;
    right: -4px;
    width: 40px;
    height: 24px;
}

.box_body ul li:nth-child(5n) {
    margin-right: 0;
}

.box_body ul h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: normal;
}

.box_body ul li img {
    width: 100%;
}

.box_body ul li .info {
    margin: 0px 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.box_body ul li span {
    color: #ff7c2d;
}

/* ---------------------------------------------------------------- */
.footer {
    padding-top: 30px;
    height: 415px;
    background-color: #fff;
}

.footer_left {
    float: left;
}


.footer_left p {
    margin: 20px 0 15px 0;
    font-size: 12px;
    color: #666666;
}

.footer_left a {
    display: block;
    width: 118px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    text-align: center;
    font-size: 16px;
}

.footer_right {
    float: right;
}

.footer_right dl {
    margin-left: 100px;
}

.one,
.two {
    float: left;
}

.footer_right dt {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.footer_right dl dd a {
    font-size: 12px;
    color: #333;
}

.three {
    float: right;
}